<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="repo1" class="org.example.hw_spring.beans.Repo1" />

    <bean id="repo2" class="org.example.hw_spring.beans.Repo2" />

    <bean id="userService" class="org.example.hw_spring.beans.UserService">
        <constructor-arg ref="repo1" />
    </bean>
</beans>

